{# Inactive subscriptions entry point #}
<section id="og-inactive-health-subscription">
    {% for subscription in subscriptions | reject('live') %}
            {% set subscription_month_ended = 'new Date(new Date(subscription.start_date).setMonth(new Date(subscription.start_date).getMonth() + 1)).getTime() < new Date().getTime()'| js %}
            {% if subscription and subscription.extra_data and subscription.extra_data.health_membership == true and not subscription_month_ended %}
                {% set payment = payments | find(id=subscription.payment) %}
                {% set shipping_address = addresses | find(id=subscription.shipping_address) %}
                {% set pro_subscription = false %}
                {% set health_subscription = false %}
                <div class="og-content-wrapper">
                    <sm-toggle class="og-order-toggle">
                        <div class="shipment-header-product-wrapper">
                            <div class="og-shipment-header">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                    <path d="M5 5H20C20.6914 5 21.25 5.55859 21.25 6.25V16.25H22.5V6.25C22.5 4.87109 21.3789 3.75 20 3.75H5C3.62109 3.75 2.5 4.87109 2.5 6.25V16.25H3.75V6.25C3.75 5.55859 4.30859 5 5 5ZM1.32422 18.75H23.6758C23.4609 19.4727 22.793 20 22 20H3C2.20703 20 1.53906 19.4727 1.32422 18.75ZM0.75 17.5C0.335938 17.5 0 17.8359 0 18.25C0 19.9062 1.34375 21.25 3 21.25H22C23.6562 21.25 25 19.9062 25 18.25C25 17.8359 24.6641 17.5 24.25 17.5H0.75ZM11.875 6.875C11.1836 6.875 10.625 7.43359 10.625 8.125V9.375H9.375C8.68359 9.375 8.125 9.93359 8.125 10.625V11.875C8.125 12.5664 8.68359 13.125 9.375 13.125H10.625V14.375C10.625 15.0664 11.1836 15.625 11.875 15.625H13.125C13.8164 15.625 14.375 15.0664 14.375 14.375V13.125H15.625C16.3164 13.125 16.875 12.5664 16.875 11.875V10.625C16.875 9.93359 16.3164 9.375 15.625 9.375H14.375V8.125C14.375 7.43359 13.8164 6.875 13.125 6.875H11.875ZM11.875 8.125H13.125V10C13.125 10.3438 13.4062 10.625 13.75 10.625H15.625V11.875H13.75C13.4062 11.875 13.125 12.1562 13.125 12.5V14.375H11.875V12.5C11.875 12.1562 11.5938 11.875 11.25 11.875H9.375V10.625H11.25C11.4141 10.625 11.5742 10.5586 11.6914 10.4414C11.8086 10.3242 11.875 10.1641 11.875 10V8.125Z" fill="#1A1A1A"/>
                                </svg>
                                <h1 class="og-title">GNC Health Membership</h1>
                                <div class="og-shipment-info">
                                        <span class="og-shipment-on">Ends On Date</span>
                                        {% set subscription_created_date_object = 'new Date(subscription.created)' | js %}
                                        {% set subscription_created_date_month = 'new Date(subscription.created).getMonth() + 1' | js %}
                                        {% set subscription_created_date_fullyear = 'new Date(subscription.created).getFullYear()' | js %}
                                        {% set subscription_end_date = 'new Date(subscription_created_date_fullyear, subscription_created_date_month + 1 , 0)' | js %}
                                        {{ subscription_end_date | date }}
                                </div>
                            </div>

                            {% if not subscription | get('extra_data.hidden') == true %}
                                {% set product = products | find(id=subscription.product) %}
                                {% if product %}
                                    <div class="og-product-image-container og-thumbnail">
                                        <a href="{{ product.detail_url | if_defined }}">
                                            <img
                                            class="og-product-image"
                                            loading="lazy"
                                            alt="{{ product.name }}"
                                            src="{{ product.image_url | if_defined }}"
                                            width="200"
                                            height="200"
                                            />
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="og-order-actions">
                        {# toggle button #}
                            <button
                            data-toggle-trigger
                            class="og-button og-order-toggle-trigger"
                            data-variant="secondary"
                            aria-label="{{ 'a11y_order_details_toggle' | t }}"
                            >
                                MANAGE MEMBERSHIP
                            </button>
                        {# toggle button #}
                        </div>
                        {% set inactive_health_order_counter = inactive_health_order_counter + 1 %}
                        {% if not subscription | get('extra_data.hidden') == true %}
                            <div class="og-inactive-subscription"  data-toggle-content>
                                {% if product %}
                                    <div class="og-product">
                                        <div class="og-product-image-container">
                                            <img
                                            class="og-product-image"
                                            loading="lazy"
                                            alt="{{ product.name }}"
                                            src="{{ product.image_url | if_defined }}"
                                            width="200"
                                            height="200"
                                            />
                                        </div>
                                        <div class="og-name-price-controls-container">
                                            <div class="og-description-and-controls">
                                            <div class="og-product-description">
                                                <h3 class="og-product-brand">GNC</h3>
                                                <h3 class="og-product-name">
                                                    <a href="{{ product.detail_url | if_defined }}">{{ product.name }}</a>
                                                </h3>
                                                <span class="og-final-unit-price">{{ product.price | currency }}</span>
                                            </div>
                                            </div>
                                        </div>{# og-name-price-controls-container #}
                                        </div>{# /og-product #}
                                        {% set health_product_displayed = true %}
                                        
                                        {% include 'inactive-pro-summary' %}
                                {% endif %}
                            </div>{# /og-inactive-subscription #}
                        {% endif %}
                    </sm-toggle>
                </div>
            {% endif %}
    {% endfor %}
</section>
{# /og-inactive-subscriptions #}