<div class="og-delete-item-control">

{% if 'Date.parse(order.place) - 3 * 86400 * 1000 > new Date().getTime()' | js %}
  <a class="og-link" @click="{{ '() => SMDialog.open("og-delete-item-" + order_item.public_id)' | js }}">
    {{ 'delete_item_control_label' | t }}
  </a>
  {% else %}
    <a class="og-link" disabled="" @click="{{ '() => SMDialog.open("og-delete-item-" + order_item.public_id)' | js }}">
    {{ 'delete_item_control_label' | t }}
  </a>
    {% endif %}
  
  <sm-dialog id="og-delete-item-{{ order_item.public_id }}">
    <dialog aria-hidden="true" aria-labelledby="exampleModalLabel" id="og-delete-{{ order_item.public_id }}">
      <form
        action="{{ 'delete_item' | action }}" 
        name="og_delete_item"
        @success="{{ 'SMDialog.close' | js }}"
        @reset="{{ 'SMDialog.close' | js }}">
        
        {% set dialog_header_text = 'modal_delete_item_header' | t  %}
        {% include 'dialog-header' %}

        <div class="og-dialog-body">
          {% if subscription %}
            {% set next_order_date = 'nth_order_date(order, subscription)' | js | date %}
            {{ 'modal_delete_subscription_item_body' | t }}
          {% else %}
            {{ 'modal_delete_one_time_item_body' | t }}
          {% endif %}
        </div>{# /og-dialog-body #}

        <div class="og-dialog-footer">
          <input type="hidden" value="{{ order_item.public_id }}" name="item" />
          <div class="og-button-wrapper">
              <button class="og-button og-primary" name="delete_item" type="submit">
                {{ 'modal_delete_item_save' | t }}
              </button>
          </div>
          <button class="og-button og-cancel" type="reset">EXIT WITHOUT CHANGES</button>
        </div>{# /og-dialog-footer #}

      </form>
    </dialog>
  </sm-dialog>
</div>{# /og-delete-item-control #}
